.center {
  text-align: center;
}

.song-container {
  height: 650px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.song-form-container {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.song-full-width {
  width: 100%;
}

mat-slider {
  width: 240px;
}

.title {
  margin: 10px;
}

.song-title {
  font-size: 1.25em;
}

.song-stars {
  font-size: 1em;
  width: 14px;
  height: 14px;
}

.flower-icon {
  width: 14px;
  height: 14px;
}

.flower-container {
  margin-left: 10px;
}

.flower-margin {
  margin: 10px;
}

.button-container {
  margin: 10px;
}

mat-card {
  width: 675px;
}

.mat-tab-body-content {
  margin-top: 20px;
}

.song-original-image-container {
  height: 700px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-resized-image-container {
  height: 700px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-image {
  width: 500px;
}

.song-image-deployed {
  width: 500px;
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scaleX(-1, -1);
  filter: FlipH FlipV;
  -ms-filter: 'FlipH FlipV';
}
