<div *ngIf="song" name="selectedSongDetails">
  <div
    fxLayout="column"
    fxLayout.xl="column"
    fxLayoutAlign="space-evenly center"
  >
    <mat-card>
      <div
        fxLayout="row"
        fxLayoutAlign="space-evenly center"
        class="button-container"
      >
        <div>
          <button mat-button color="primary" name="goBackButton" (click)="goBack()">
            <mat-icon>chevron_left</mat-icon>
            Return to Songs 
          </button>
        </div>
        <div>
          <button
            (click)="save()"
            name="saveButton"
            [disabled]="!songForm.valid"
            mat-raised-button
            color="accent"
          >
            Save
          </button>
        </div>
        <div>
          <button
            type="button"
            (click)="resetForm()"
            mat-raised-button
            color="warn"
          >
            Reset
          </button>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <mat-tab-group name="matTabGroup">
        <mat-tab>
          <ng-template mat-tab-label>
            Song
          </ng-template>
          <div class="song-container">
            <form
              [formGroup]="songForm"
            >
              <div fxLayout="column"
                fxLayoutAlign="space-evenly center"
              >
                <div fxFlex="fill" class="center title">
                  <span class="song-title">
                    {{ song.title | uppercase }}
                  </span>
                  <span *ngFor="let color of stars">
                    <mat-icon
                      *ngIf="color"
                      color="primary"
                      class="song-stars"
                    >star</mat-icon>
                  </span>
                  <span 
                    *ngIf="songForm.get('flowered').value"
                    class="flower-container"
                  >
                    <img
                      src="assets/icons/flower_icon.png" class="flower-icon"
                  >
                  </span>
                </div>
                <div
                  class="song-form-container"
                >
                  <mat-form-field class="song-full-width">
                    <input
                      matInput
                      formControlName="title"
                      placeholder="Title"
                      (change)="updateImageName()"
                    >
                  </mat-form-field>
                  <mat-form-field class="song-full-width">
                    <input
                      matInput
                      formControlName="artist"
                      placeholder="Artist"
                    >
                  </mat-form-field>
                  <mat-form-field class="song-full-width">
                    <input
                      matInput
                      formControlName="imageName"
                      placeholder="Image Name"
                    >
                  </mat-form-field>
                </div>
                <div class="song-form-container">
                  <label>Stars</label>
                  <br>
                  <mat-slider
                    (change)="starsChanged()"
                    color="primary"
                    thumbLabel=true
                    formControlName="stars"
                    min="0"
                    max="5"
                    placeholder="Number of stars"
                  ></mat-slider>
                </div>
                <div class="song-form-container">
                  <label>Flowered</label>
                  <br>
                  <mat-slide-toggle
                    class="flower-margin"
                    color="primary"
                    formControlName="flowered"
                  >
                  </mat-slide-toggle>
                </div>
                <div
                  fxLayout="row"
                  fxLayoutAlign="space-evenly top"
                  class="song-form-container"
                >
                  <div fxFlex="40%">
                    <mat-form-field>
                      <input
                        type="text"
                        placeholder="Genre"
                        aria-label="Number"
                        matInput
                        formControlName="genreSearchTerm"
                        [matAutocomplete]="auto"
                      >
                      <mat-autocomplete
                        autoActiveFirstOption
                        #auto="matAutocomplete"
                        (optionSelected)="genreSearchTermSelected()"
                      >
                        <mat-option *ngFor="let option of filteredGenres | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div fxFlex="60%">
                    <span *ngFor="let genre of genres">
                      <app-song-genre
                        (delete)="deleteGenre($event)"
                        genre="{{genre}}"
                      ></app-song-genre>
                    </span>
                  </div>
                </div>
                <div class="song-form-container">
                  <mat-form-field class="song-full-width">
                    <mat-select
                      placeholder="First Note"
                      formControlName="firstNote"
                    >
                      <mat-option *ngFor="let firstNote of firstNoteOptions" [value]="firstNote.id">
                        {{firstNote.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div
                  class="song-form-container"
                >
                  <mat-form-field class="song-full-width">
                    <input
                      matInput
                      formControlName="capo"
                      placeholder="Capo"
                    >
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Source Image 
          </ng-template>
          <div class="song-image-container">
            <app-image-resize
                (resize)="resize($event)"
                [coordinates]="coordinates"
              >
              <img class="song-image" [src]="getImageAssetSrc()">
            </app-image-resize>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Destination Image
          </ng-template>
          <div class="song-image-container">
            <img class="song-image-deployed" name="deployedImage" [src]="getImageDeploymentSrc(2)">
            <img class="song-image-deployed" name="deployedImage" [src]="getImageDeploymentSrc(1)">
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>