<div *ngIf="song" name="selectedSongDetails">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start">
    <div fxFlex="25">
      <button mat-button color="primary" name="goBackButton" (click)="goBack()">
        <mat-icon>chevron_left</mat-icon>
        Return to Songs 
      </button>
    </div>
  </div>
  <form
    [formGroup]="songForm"
    class="song-form"
    (ngSubmit)="save()"
  >
    <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
      <div fxFlex="fill" class="center">
        <h2>{{ song.title | uppercase }}</h2>
      </div>
      <div>
          <mat-form-field class="song-full-width">
            <input
              matInput
              formControlName="title"
              placeholder="Title"
            >
          </mat-form-field>
          <mat-form-field class="song-full-width">
            <input
              matInput
              formControlName="artist"
              placeholder="Artist"
            >
          </mat-form-field>
          <mat-slider
            color="primary"
            thumbLabel=true
            [displayWith]="formatLabel"
            tickInterval="1"
            min="1"
            max="5"
          ></mat-slider>
          <mat-icon>star</mat-icon>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <div>
          <button
            type="submit"
            name="saveButton"
            [disabled]="!songForm.valid"
            mat-button color="accent"
          >
            Save
          </button>
        </div>
        <div>
          <button
            type="button"
            (click)="resetForm()"
            mat-button color="warn"
          >
            Reset Form
          </button>
        </div>
      </div>
    </div>
  </form>
</div>