.center {
  text-align: center;
}

.song-form-container {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.song-full-width {
  width: 100%;
}

mat-slider {
  width: 240px;
}

.title {
  margin: 10px;
}

.song-title {
  font-size: 1.25em;
}

.song-stars {
  font-size: 1em;
  width: 14px;
  height: 14px;
}

.flower-icon {
  width: 14px;
  height: 14px;
}

.flower-container {
  margin-left: 10px;
}

.flower-margin {
  margin: 10px;
}

.button-container {
  margin: 10px;
}

mat-card {
  width: 550px;
}

.song-image-parent-container {
  height: 500px;
}

.song-image-container {
  width: 275px;
  text-align: center;
}

.song-image-container.left {
  position: absolute;
}

.song-image-container.right {
  float: right;
}

.song-image {
  width: 250px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}
