<div *ngIf="song" name="selectedSongDetails">
  <div fxLayout="row" fxLayout.xl="column" fxLayoutAlign="start">
    <div fxFlex="25">
      <button mat-button color="primary" name="goBackButton" (click)="goBack()">
        <mat-icon>chevron_left</mat-icon>
        Return to Songs 
      </button>
    </div>
  </div>
  <form
    [formGroup]="songForm"
    (ngSubmit)="save()"
  >
    <div fxLayout="column" fxLayout.xl="column" fxLayoutAlign="space-evenly center">
      <div fxFlex="fill" class="center title">
        <span class="song-title">
          {{ song.title | uppercase }}
        </span>
        <span *ngFor="let color of stars">
          <mat-icon color="{{color}}" class="song-stars">star</mat-icon>
        </span>
      </div>
      <div
        class="song-form-container"
      >
        <mat-form-field class="song-full-width">
          <input
            matInput
            formControlName="title"
            placeholder="Title"
          >
        </mat-form-field>
        <mat-form-field class="song-full-width">
          <input
            matInput
            formControlName="artist"
            placeholder="Artist"
          >
        </mat-form-field>
      </div>
      <div class="song-form-container">
        <label>Stars</label>
        <br>
        <mat-slider
          (change)="starsChanged()"
          color="primary"
          thumbLabel=true
          formControlName="stars"
          min="0"
          max="5"
          placeholder="Number of stars"
        ></mat-slider>
      </div>
      <div fxLayout="row" fxLayout.xl="column" fxLayoutAlign="space-evenly center">
        <div>
          <button
            type="submit"
            name="saveButton"
            [disabled]="!songForm.valid"
            mat-button color="accent"
          >
            Save
          </button>
        </div>
        <div>
          <button
            type="button"
            (click)="resetForm()"
            mat-button color="warn"
          >
            Reset Form
          </button>
        </div>
      </div>
    </div>
  </form>
</div>