.file-upload-container {
  margin: 50px;
}

.file-upload-form-container {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.file-upload-full-width {
  width: 100%;
}

mat-card {
  width: 550px;
}

.form-container {
  width: 100%;
}

.tab-photo-content {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-container {
  margin: 10px;
}

.preview-image-container {
  text-align: center;
  border: 1px solid black;
  height: 302px;
  width: 302px;
}

.image {
  max-height: 300px;
}

.file-upload-container {
  margin: 10px;
}

.loading-class {
  margin: 100px;
  display: flex;
  justify-content: center;
}

.file-upload-form-container {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.file-upload-full-width {
  width: 100%;
}

mat-card {
  width: 500px;
  padding: 0;
}

.file-upload-group-container {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
