<div
  fxLayout="column"
  fxLayoutAlign="space-evenly center"
  class="file-upload-group-container"
>
  <mat-card>
    <mat-card-content>
      <mat-tab-group class="carousel"
        (selectedIndexChange)="selectedTab($event)"
      >
        <mat-tab *ngFor="let carouselPhoto of carouselPhotos">
          <ng-template mat-tab-label>
            {{carouselPhoto.description}}
          </ng-template>
          <div class="tab-photo-content">
            <img [src]="carouselPhoto.uri" [alt] ="carouselPhoto.description"
            class="image">
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div
        fxLayout="column"
        fxLayoutAlign="space-evenly center"
      >
        <form 
          [formGroup]="imageProcessingForm"
          class="file-upload-form-container"
          (submit)="saveFile()"
          appSubmitButton
        >
          <div class="file-upload-container">
            <mat-form-field class="file-upload-full-width">
              <input
                matInput
                formControlName="title"
                placeholder="Song Title"
              >
            </mat-form-field>
            <mat-form-field class="file-upload-full-width">
              <input
                matInput
                formControlName="artist"
                placeholder="Artist"
              >
            </mat-form-field>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-evenly center"
          >
            <button
              type="button"
              (click)="resetForm()"
              mat-raised-button
              color="warn"
            >
              Clear Form
            </button>
            <button
              type="submit"
              [disabled]="imageProcessingForm.invalid"
              mat-raised-button
              color="accent"
            >
              Upload
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>