<div
  class="album-container"
  fxLayout="column"
  fxLayoutAlign="start"
>
  <div>
    <form
      [formGroup]="coverArtForm"
      fxLayout="row"
      fxLayoutAlign="space-evenly center"
    >
      <mat-form-field>
        <input
          matInput
          formControlName="album"
          placeholder="Album"
        >
      </mat-form-field>
      <div style="width: 25px;"></div>
      <mat-form-field>
        <input
          matInput
          formControlName="artist"
          placeholder="Artist"
        >
      </mat-form-field>
      <button mat-button color="primary" (click)="searchArtist()">
        Search
      </button>
      <mat-form-field>
        <input
          matInput
          formControlName="track"
          placeholder="Track"
        >
      </mat-form-field>
      <button
        mat-button
        color="primary"
        [disabled]="coverArtForm.invalid"
        (click)="searchTrack()"
      >
        Search
      </button>
    </form>
  </div>
  <div *ngIf="displayAlbums">
    <table
      mat-table
      [dataSource]="albumSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedAlbumColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let album"> {{album[column]}} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let album" [attr.colspan]="displayedAlbumColumns.length">
          <div
            class="album-detail"
            [@detailExpand]="album == expandedAlbum ? 'expanded' : 'collapsed'"
          >
            <div 
              class="album-detail"
              (click)="setImageUrl(album.image)"
            >
              <div class="album-diagram">
                <img [src]="album.image[2]['#text']">
              </div>
              <div class="album-description">
                <div> {{album.name}} </div>
                <div class="album-callout"> {{album.artist}} </div>
                <div> {{album.mbid}} </div>
                <div> {{album.url}} </div>
              </div>
            </div>
            <div *ngIf="displayFindByTrackButton">
              <button mat-button color="primary" (click)="findByTrack(album.mbid)">
                Find by Track 
              </button>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedAlbumColumns"></tr>
      <tr mat-row *matRowDef="let album; columns: displayedAlbumColumns;"
          class="album-row"
          [class.expanded-row]="expandedAlbum === album"
          (click)="expandedAlbum = album">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
  </div>
  <div *ngIf="displayArtists">
    <table
      mat-table
      [dataSource]="artistSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedArtistColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let album"> {{album[column]}} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let album" [attr.colspan]="displayedArtistColumns.length" (click)="setImageUrl(album.image)">
          <div
            class="album-detail"
            [@detailExpand]="album == expandedAlbum ? 'expanded' : 'collapsed'">
            <div class="album-diagram">
              <img [src]="album.image[2]['#text']">
            </div>
            <div class="album-description">
              <div> {{album.artist.name}} </div>
              <div class="album-callout"> {{album.name}} </div>
              <div> {{album.mbid}} </div>
              <div> {{album.url}} </div>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedArtistColumns"></tr>
      <tr mat-row *matRowDef="let album; columns: displayedArtistColumns;"
          class="album-row"
          [class.expanded-row]="expandedAlbum === album"
          (click)="expandedAlbum = album">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
  </div>
</div>