.genre-container {
  float: left;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  margin: 5px;
  min-width: 75px;
  height: 25px;
  cursor: pointer;
  border-radius: 2px;
  display: inherit;
}

.genre-text {
  padding-top: 3px;
}

.genre-container .genre-delete {
  display: none;
  width: 0;
}

.genre-container:hover .genre-text {
  opacity: 0.25;
}

.genre-container:hover .genre-delete {
  margin: auto;
  display: flex;
  margin-top: -21px;
  display: inherit;
  width: 24px;
  color: black;
}
