<div fxLayout="column" fxLayoutAlign="space-evenly center" class="song-container">
  <div>
    <h1>Kanikapilas</h1>
  </div>
  <div fxLayout="row" fxLayout.xl="column" fxLayoutAlign="space-evenly center">
    <div *ngFor="let songTitleLetter of songTitles;
    let last = last;
    ">
      <span (click)="sortSongs(songTitleLetter)">
        <span class="click hover">{{songTitleLetter}}</span>
        <span *ngIf="!last">&nbsp;|&nbsp;</span>
      </span>
    </div>
    <div>
      <a routerLink="/songs/new" class="click">
        <button color="primary" mat-button>Add Song</button>
      </a>
    </div>
  </div>
  <div
    class="song-list"
    fxLayout="row wrap"
    fxLayout.xl="column"
     fxLayoutAlign="space-evenly center"
  >
    <div *ngFor="let song of sortedSongs">
      <mat-card class="song-card">
        <mat-card-header>
          <mat-card-title>
            <mat-card-title class="song-title">{{song.title}}</mat-card-title>
            <mat-card-subtitle>{{song.artist}}</mat-card-subtitle>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="song-content">
          <span *ngIf="song.coverArtUrl">
            <img src="{{song.coverArtUrl}}">
          </span>
          <mat-icon *ngIf="!song.coverArtUrl">broken_image</mat-icon>
        </mat-card-content>
        <mat-card-actions
          fxLayout="row"
          fxLayoutAlign="space-evenly center"
        >
          <div>
            <a routerLink="/songs/{{song.id}}" class="click">
              <button color="primary" mat-button>Edit</button>
            </a>
          </div>
          <div>
            <mat-icon
              *ngIf="!song.active"
              color="warn"
            >visibility_off</mat-icon>
            <mat-icon
              *ngIf="song.active"
              class="green"
            >visibility</mat-icon>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>