.song-container {
  width: 100%;
  max-width: 800px;
  align-items: center;
}

.song-list {
  margin-top: 20px;
}

.song-title {
  font-weight: bold;
  line-height: normal;
}

.song-card {
  margin: 5px;
}

.song-content {
  height: 175px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}
