   
  <div fxLayout="row" fxLayout.xl="column" fxLayoutAlign="start">
    <div *ngFor="let songTitleLetter of songTitles">
      <span class="click" (click)="sortSongs(songTitleLetter)">{{songTitleLetter}}</span>
      |
    </div>
  </div>

  <ul>
    <li *ngFor="let song of sortedSongs">
        <a routerLink="/songs/{{song.uid}}" class="click">
          {{ song.title}} -> {{ song.artist}} -> {{song.id}}
        </a>
    </li>
  </ul>

  
  <ul>
    <li *ngFor="let song of songs">
        <a routerLink="/songs/{{song.id}}">
          {{ song.title}} -> {{ song.artist}} -> {{song.id}}
        </a>
    </li>
    <li>
        <a routerLink="/songs/3">
          error
        </a>
    </li>
  </ul>