<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <ul>
    <li *ngFor="let song of songs | async">
        <a routerLink="/songs/{{song.uid}}">
          {{ song.title}} -> {{ song.public}} -> {{song.uid}}
        </a>
    </li>
  </ul>
   
  Here  ::{{user.firstName}}::

  <span (click)="sortSong('A')">A</span>
  |
  <span (click)="sortSong('B')">B</span>
  |
  <span (click)="sortSong('M')">M</span>

  <ul>
    <li *ngFor="let song of sortedSongs">
        <a routerLink="/songs/{{song.uid}}">
          {{ song.title}} -> {{ song.public}} -> {{song.uid}}
        </a>
    </li>
  </ul>

  