/* You can add global styles to this file, and also import other style files */

.click {
  cursor: pointer;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

.green {
  color: green;
}

.mat-activate {
  background-color: green;
  color: white;
}
