.icon {
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.top {
  left: 0;
}

.bottom {
  right: 0;
}

.resize-box {
  position: absolute;
  z-index: 1;
  top: 12.5px;
  left: 50px;
  bottom: 12.5px;
  width: 400px;
  border: 1px solid red;
}

.image-boundary-container {
  top: 25px;
  left: 0;
  right: 0;
  z-index: 0;
  position: absolute;
}
